.avatar {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--background-color);
  border-radius: 50%;
  justify-content: center;
}

.avatar img {
  object-fit: cover;
}

.avatar--small img {
  width: 47px;
  height: 47px;
}

.avatar--large img {
  width: 130px;
  height: 130px;
}
