.search {
  padding: 14px 0px;
  position: relative;
}

.search__input {
  height: 32px;
  background: var(--background-color);
  width: 100%;
  border-radius: 5px;
  padding-left: 20px;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.search__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.search__input:focus + label,
.search__input:not(:placeholder-shown) + label {
  opacity: 0;
  transform: translate(-50%, -80%);
}
