.sidebar {
  --sidebar-padding-x: 10px;
  height: 100vh;
  display: flex;
  width: 410px;
  flex-direction: column;
  padding-right: var(--sidebar-padding-x);
  padding-left: var(--sidebar-padding-x);
  color: var(--secondary-color);
  overflow-y: scroll;
}
.sidebar__profile {
  padding-top: 20px;

  display: flex;
  justify-content: end;
}

.sidebar__chatlist {
  display: flex;
  flex-direction: column;
}
