.mybutton {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--background-color);
  background: var(--accent-color);
  padding: 11px 70px;
  border-radius: 8px;
  font-size: 13px;
}
