.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__action {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 15px;
}

.dropdown__icon {
  flex-shrink: 0;
}

.dropdown__container {
  display: none;
  position: absolute;
}

.dropdown__content {
  padding: 15px;
}

.dropdown__container--top {
  bottom: 100%;
  padding-bottom: 10px;
}

.dropdown__container--bottom {
  top: 100%;
  padding-top: 10px;
}

.dropdown__container--right {
  right: 0;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdown__item:hover {
  color: var(--accent-color);
}

.dropdown__text {
  width: 100%;
}

.dropdown:hover .dropdown__container {
  display: block;
}
