.error-page {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.error-page__error {
  font-size: 30px;
}

.error-page__link {
  color: var(--accent-color);
  font-weight: 400;
}
