.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.chat__input {
  margin: 0 10px;
  padding: 10px 20px;
  flex-grow: 1;
  background: var(--background-color);
  border-radius: 30px;
}
.chat__send-button {
  color: white;
  border: none;
  background: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
